.cities_select {
	width: 500px;
}

.input-group {
	margin-left: 10%;
	width: 550px;
	margin-bottom: 10px;
}

.select2-container--default .select2-selection--single {
	height: 34px !important;
	width: 500px;
	padding: 2px;
}

.btn-group {
	margin-left: 10%;
}

.panel {
	margin-left: 10%;
	width: 550px;
}